{% extends 'base_blog.html' %}
{% load static %}
{% block PAGE_TITLE %} Profile {% endblock PAGE_TITLE %}
{% block PAGE_CONTENT %}
<section class="container mt-5 col-md-10 text-white w-100 font-monospace" style="padding-left: 30%; padding-top: 60px;">
    <h1 class="text-warning">Sobre mí</h1>
    <div class="mt-3 d-flex">
        <div class="d-flex flex-column w-75">
            <p class="text-white fs-5 w-100">
                Mi nombre es José Candia, un ingeniero en informática con experiencia en tecnología y transporte. </br>
                Mi pasión es desarrollar soluciones tecnológicas innovadoras que mejoren los procesos empresariales. </br>
                Soy proactivo, comprometido y apasionado por aprender y colaborar en equipos multidisciplinarios.
            </p>
            <h3 class="text-warning">Experiencias profesionales</h3>
            <div class="d-flex flex-column">
                <div class="d-flex flex-column">
                    <span class="mt-3 text-warning text-bold">Desarrollador Fullstack (diciembre 2019 - actual)</span>
                    <small>Pullman Bus S.A.</small>
                </div>
                <div class="d-flex flex-column">
                    <span class="mt-3 text-warning text-bold">Práctica Analista programador computacional (diciembre 2018 - febrero 2019)</span>
                    <small>Pullman Bus S.A.</small>
                </div>
                <div class="d-flex flex-column">
                    <span class="mt-3 text-warning text-bold">Analista Contable (marzo 2014 - febrero 2015)</span>
                    <small>Pullman Bus S.A.</small>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 d-flex flex-column w-75">
        <h1 class="text-warning">Conocimientos técnicos</h1>
        <h3 class="mt-3 mx-auto">Lenguajes de programación</h3>
        <div class="mt-4 d-flex justify-content-evenly flex-wrap mx-auto w-100">
            <img src="{% static 'images/java.png' %}" width="100" height="100" />
            <img src="{% static 'images/javascript.png' %}" width="100" height="100" />
            <img src="{% static 'images/python.png' %}" width="100" height="100" />
            <img src="{% static 'images/csharp.png' %}" width="100" height="100" />
            <img src="{% static 'images/php.png' %}" width="100" height="100" />
            <img src="{% static 'images/dart.png' %}" width="100" height="100" />
        </div>
        <h3 class="mt-4 mx-auto">Tecnologías / Frameworks</h3>
        <div class="mt-4 d-flex justify-content-evenly flex-wrap mx-auto w-100">
            <img src="{% static 'images/angular.png' %}" width="100" height="100" />
            <img src="{% static 'images/react.png' %}" width="100" height="100" />
            <img src="{% static 'images/vue.png' %}" width="100" height="100" />
            <img src="{% static 'images/nestjs.png' %}" width="100" height="100" />
            <img src="{% static 'images/ionic.png' %}" width="100" height="100" />
            <img src="{% static 'images/nextjs.png' %}" width="100" height="100" />
            <img src="{% static 'images/flutter.png' %}" width="100" height="100" />
            <img src="{% static 'images/html.png' %}" width="100" height="100" />
            <img src="{% static 'images/css.png' %}" width="100" height="100" />
        </div>
        <h3 class="mt-4 mx-auto">Herramientas</h3>
        <div class="mt-4 d-flex justify-content-evenly flex-wrap mx-auto w-100">
            <img src="{% static 'images/gitlab.png' %}" width="100" height="100" />
            <img src="{% static 'images/jenkins.png' %}" width="100" height="100" />
            <img src="{% static 'images/jira.png' %}" width="100" height="100" />
            <img src="{% static 'images/office.png' %}" width="100" height="100" />
            <img src="{% static 'images/trello.png' %}" width="100" height="100" />
            <img src="{% static 'images/github.png' %}" width="100" height="100" />
        </div>
    </div>
</section>
{% endblock PAGE_CONTENT %}