{% extends 'base_blog.html' %}
{% block PAGE_TITLE %} Home {% endblock PAGE_TITLE %}
{% block PAGE_CONTENT %}
    <div class="container mt-5 col-md-10 text-white w-100" style="padding-left: 30%; padding-top: 60px;">
        <div class="w-50 d-flex ps-3 pe-3 bg-dark pt-3 pb-3 rounded-pill">
            <span class="bg-dark text-warning fs-3 me-2">🤔</span>
            <input type="text" class="form-control bg-dark text-white rounded-pill ps-4" placeholder="Publicar" id="publicar"/>
        </div>
        {% if post_list %}
            {% for post in post_list %}
                <div class="card w-50 d-flex flex-column ps-3 pe-3 bg-dark pt-3 pb-3 mt-4">
                    <a href="{% url 'blog:post' %}?id={{ post.id }}" class="text-decoration-none text-white"><h3 class="card-title">{{ post.title }}</h3></a>
                    <p class="card-text text-warning">
                        {{ post.content }}
                    </p>
                    {% if post.image %}
                        <img class="card-img-bottom mx-auto" src="{{ post.image.url }}" style="max-height: 400px; width: fit-content; max-width: 100%;">
                    {% endif %}
                    <small class="ms-auto mt-3">{{ post.author.username }} - {{ post.publish_date|date:"d/m/Y H:i A" }}</small>
                    <div class="d-flex justify-content-end mt-3">
                        <a href="{% url 'blog:like_post' %}?id={{ post.id }}">
                            <button class="btn {% if post.vote %} btn-danger {% else %} btn-outline-light {% endif %} mx-2 my-auto p-2 border-0 shadow-sm">
                                {{ post.votes }} Me gusta 
                                <i class="{% if post.vote %} fa-solid {% else %} fa-regular {% endif %} fa-heart"></i>
                            </button>
                        </a>
                        <a href="{% url 'blog:post' %}?id={{ post.id }}">
                            <button class="btn btn-outline-light mx-2 my-auto p-2 border-0 shadow-sm">{{ post.commets }} comentarios</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock PAGE_CONTENT %}
{% block PAGE_SCRIPT %}
    <script>
        $('#publicar').click(function() {
            {% if user.is_authenticated %}
                window.location.href = 'submit'
            {% else %}
                $('#exampleModal').modal('show')
            {% endif %}
        })
    </script>
{% endblock PAGE_SCRIPT %}