{% extends 'base_blog.html' %}
{% block PAGE_TITLE %} Post {% endblock PAGE_TITLE %}
{% block PAGE_CONTENT %}
    <div class="container mt-5 col-md-10 text-white w-100" style="padding-left: 20%; padding-top: 60px;">
        <div class="card w-50 d-flex flex-column ps-3 pe-3 bg-dark pt-3 pb-3 mt-4">
            <h3 class="card-title">{{ post.title }}</h3>
            <p class="card-text text-warning">
                {{ post.content }}
            </p>
            {% if post.image %}
                <img class="card-img-bottom mt-3" src="{{ post.image.url }}" class="my-auto">
            {% endif %}
            <small class="ms-auto mt-3">{{ post.author.username }} - {{ post.publish_date|date:"d/m/Y H:i A" }}</small>
            <div class="w-100 d-flex justify-content-end mt-3">
                <a href="{% url 'blog:like_post' %}?id={{ post.id }}">
                    <button class="btn {% if post.vote %} btn-danger {% else %} btn-outline-light {% endif %} mx-2 my-auto p-2 border-0 shadow-sm">
                        {{ post.votes }} Me gusta 
                        <i class="{% if post.vote %} fa-solid {% else %} fa-regular {% endif %} fa-heart"></i>
                    </button>
                </a>
            </div>
            {% if post.author == user %}
                <button class="btn btn-danger mt-3">
                    <i class="fa-solid fa-trash"></i>
                    Eliminar publicación
                </button>
            {% endif %}
        </div>
    </div>
    <section class="mt-4 text-white" style="padding-left: 20%;">
        <h4 class="border-bottom w-50 pb-3">{{ commets|length }} Comentarios</h4>
        <form method="POST" class="w-50">
            <div class="input-group w-100 bg-dark">
                <textarea 
                    class="form-control w-100 rounded-0 px-3 m-0 bg-dark text-white"
                    aria-label="Describe lo que quieres decir" 
                    placeholder="Texto"
                    style="resize: none; height: 100px;"
                    name="content"
                    required></textarea>
            </div>
            <div class="w-100 mt-2 d-flex justify-content-end">
                <button class="btn btn-warning rounded-pill" type="submit">Comentar</button>
            </div>
        </form>
    </section>
    <section class="mt-4 text-white" style="padding-left: 20%;">

    </section>
{% endblock PAGE_CONTENT %}